@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --font-base: 'Source Serif 4', serif;
    --font-heading: 'Libre Franklin', sans-serif;
    --font-code: 'Victor Mono', monospace;
    --font-size-base: 24px;
    --line-height-base: 1.3; 
    --line-height-tight: 1.2; 
    /*--color-background: #eff1f5;*/
    --color-background: #FFFFFF;
    --color-background-pre: #eff1f5;
    --color-heading: #8839ef;
    --color-text: #4c4f69;
    --color-accent: #fe640b;
    --color-code: #ea76cb;
    --color-border: #acb0be;
    --scale-ratio: 1.25;
    font-size: var(--font-size-base);
}

body {
    margin: 0;
}

body:has(> main.slide) {
    display:flex;
    flex-direction: column;
    min-height: calc(100vh - 2.5em);
}

#nav {
    display: grid;
    grid-template-areas: "l s r";
    grid-template-columns: 100px 1fr 100px;
    width: 80%;
    height: 2em;
    margin: auto;
    align-items: center;
    
    #navLeft {
        grid-area: l;
    }
    #navRight {
        grid-area: r;
        text-align: right;
    }
    #navSelect {
        grid-area: s;
        text-align:center;
    }
} 

pre {
    background: var(--color-background-pre);
    overflow-x:scroll;
}

iframe {
  width: 100%;
  min-height: calc(100vh - 2.5em);
  border: none
}

.slide {
  flex: 1;
  width: 80%;
  margin: auto;
  padding: 2em;
  font-family: var(--font-base);
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-text);
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  /*justify-content: center;*/
}

/*.titlepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/


main.slide h1,
main.slide h2,
main.slide h3,
main.slide h4,
main.slide h5,
main.slide h6 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-weight: 700;
  margin-bottom: 0.5em;
}

main.slide:not(.titlePage) h1 {
    margin-bottom: 1.5em;
}


code {
  font-family: var(--font-code);
  font-size: .8em;
  color: var(--color-code);
}

.slide h1 {
  margin-top: 0;
  font-size: 3em;
}

.center {
  text-align: center;
}

.block {
  display: block
}

div.column {
  display: flex;
  align-items: stretch;
  gap: 1em;
}

ul {
  list-style: none;
  padding-left: 1em;
}

ul li:before {
  content: ">";
  color: var(--color-accent);
  margin-right: .5em;
  font-weight: bold;
}

a {
  color: var(--color-heading);
  text-decoration: none;
}

del {
  text-decoration: none;
  position: relative;
}

del:before {
  top: 50%;
  background: var(--color-code);
  opacity: 1;
  content: "";
  width: 100%;
  position: absolute;
  height: .1em;
  border-radius: .1em;
  left: -5%;
  white-space: nowrap;
  display: block;
  transform: rotate(-15deg);
}

del:after {
  top: 50%;
  background: var(--color-code);
  opacity: 1;
  content: "";
  width: 100%;
  position: absolute;
  height: .1em;
  border-radius: .1em;
  right: 5%;
  white-space: nowrap;
  display: block;
  transform: rotate(15deg);
}

h1 > * {
  font-size: 1em;
}

.small {
  font-size: .6em;
}

.soft {
  opacity: 60%;
}

xforms-textarea  textarea {
  width: 40em;
  height: 10em;
}

xforms-dialog {
    overflow-y: scroll;
}

figure {
    margin:auto;
    max-width: 70%;
    img {
        width: 100%;
    }
    figcaption {text-align: center;}
}

.positif {
  color: green
}

.negatif {
  background-color: red;
  color: white
}

[xf-invalid] xforms-alert {
  display: inline;
}

.titlePage {
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
    display:none;
}